.ant-menu-item {
}

.ant-menu-item-selected {
    background: linear-gradient(to right, #C5C5 40%, #6C5CE7 100%) !important;
    font-weight: bold !important;
    color: #111 !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}